*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  height: 800px;

  margin: 0px;
  background-image: url(https://refugesunnyslope.com/wp-content/uploads/2018/11/Video-Webpage-Background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
main {
  padding: 100px;
  width: 1200px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}
input {
  width: 700px;
  height: 100px;
  font-size: 50px;
  background: rgb(11, 201, 241, 0.1);
  padding-left: 10px;
  border: 3px solid rgb(27, 78, 89);
  outline: none;
  margin: 0;
  background: #fff;

  border: 2px solid #dfe1e5;
  box-shadow: none;
  border-radius: 1px;
  transition: all 0.3s ease-in-out;
}
input:hover,
input:focus {
  box-shadow: 0 5px 6px rgba(32, 33, 36);
  border-color: rgba(223, 225, 229, 0);
}
.container {
  margin: 0;
  width: 700px;
  background-image: url(https://thumbs.dreamstime.com/b/blue-sky-white-cloud-use-space-text-plain-sky-commo-common-simple-background-report-presentation-81254405.jpg);

  position: absolute;
  top: 200px;
}

.caption {
  margin-top: 0px;
  /* margin-left: 200px; */

  margin-bottom: 10px;
  font-size: 59px;
}
.capital {
  align-self: center;
  font-size: 25px;
  margin: 0;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}
p {
  font: 700;
  font-size: 20px;
  margin: 0;
  margin-bottom: 20px;
}
li {
  font: 700;
  list-style: none;
  font-size: 20px;
  margin: 0;
}
.section {
  padding: 30px;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.sub {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.item {
  font-size: 40px;
}
.caption-cont {
  display: flex;
  justify-content: center;
}
ul,
hr {
  margin: 0;
}
.pnotify {
  position: absolute;
}
.pnotify-container {
  /* width: 200px; */
  width: 300px;
  height: 80px;
}
.brighttheme-closer {
  top: 8px;
  right: 10px;
  position: absolute;
}
.pnotify-icon {
  position: absolute;
  top: 35px;
  left: 25px;
}
.pnotify-sticker {
  position: absolute;
  top: 8px;
  left: 10px;
}
.pnotify-content {
  margin-top: 5px;
}
h1 {
  font-size: 65px;
}
